
.container{
    margin-top: 25px;
}
.card-bottom{
    padding: 10px;
    /* border: 1px solid lightgray; */
}
.activebtn{
   background-color: lightgray !important;
   color: black !important;
}
.inactivebtn{
    background-color: #607D8B !important;
    color: white !important;
}
