<!-- <div class="container"> -->

<div class="row animate">
  <div class="col-lg-6 col-md-6 card-padding">

    <div class="row">
      <div class="col-lg-4 col-md-4 head-div1">
        <p class="left-text nomargin"> Doctor Name </p>
      </div>
      <div class="col-lg-1 col-md-1 head-div">
        :
      </div>
      <div class="col-lg-4 col-md-7 head-div1 margin-div">
        <p class="right-text nomargin"> {{dialigData.docData.name}} </p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-4 head-div1">
        <p class="left-text nomargin"> Time </p>
      </div>
      <div class="col-lg-1 col-md-1 head-div">
        :
      </div>
      <div class="col-lg-4 col-md-7 head-div1 margin-div">
        <p class="right-text nomargin"> {{dialigData.value.timeslot}} </p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-4 head-div1">
        <p class="left-text nomargin"> Date </p>
      </div>
      <div class="col-lg-1 col-md-1 head-div">
        :
      </div>
      <div class="col-lg-4 col-md-7 head-div1 margin-div">
        <p class="right-text nomargin"> {{dialigData.date}} </p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-4 head-div1">
        <p class="left-text nomargin"> Issue </p>
      </div>
      <div class="col-lg-1 col-md-1 head-div">
        :
      </div>
      <div class="col-lg-4 col-md-7 head-div1 margin-div">
        <p class="right-text nomargin"> {{dialigData.issue}} </p>
      </div>
    </div>

  </div>
  <div class="col-lg-6 col-md-6 card-padding">

    <div class="row">
      <div class="col-lg-4 col-md-4 head-div1">
        <p class="left-text nomargin"> Fee </p>
      </div>
      <div class="col-lg-1 col-md-1 head-div">
        :
      </div>
      <div class="col-lg-4 col-md-7 head-div1 margin-div">
        <p class="right-text nomargin"> {{dialigData.docData.fee}} </p>
      </div>
    </div>

    <div>
      <span class="left-text">Apply Coupon Here: </span>

      <input [(ngModel)]="coupon.code" [disabled]="disabledip">
      <button mat-raised-button (click)="getCode()"> Apply </button><br>
      <span *ngIf="dialigData.couponData && dialigData.couponData.message" style="font-size:11px;"
        [ngClass]="{'activeText':dialigData.couponData.status === true, 'inactiveText':dialigData.couponData.status === false}">
        {{dialigData.couponData.message}} </span>

    </div>

    <div class="row">
      <div class="col-lg-4 col-md-4 head-div1">
        <p class="left-text nomargin"> Total </p>
      </div>
      <div class="col-lg-1 col-md-1 head-div">
        :
      </div>
      <div class="col-lg-4 col-md-7 head-div1 margin-div">
        <p class="right-text nomargin"> {{dialigData.docFinalFee}} </p>
      </div>
    </div>

  </div>

  <div class="col-lg-12 card-div-bottom">
    <div style="display:flex;justify-content: space-between;padding: 10px;">
      <p class="card-footer left-text"> {{dialigData.docData.workat.name}}</p>
      <div>
        <button mat-raised-button style="background-color:#607D8B;color:white" mat-dialog-close> Cancel
        </button>
        <button mat-raised-button style="background-color:#607D8B;color:white;margin-left:5px;" (click)="bookAppointmentToDoctor()"> Book
        </button>
      </div>
    </div>
  </div>
</div>

<!-- </div> -->