<!-- <div class="container"> -->

<div class="row animate">
  <div class="col-lg-6 col-md-6 card-padding">
    <div style="padding:10px;"> Doctor Name: <span> {{dialigData.docData.name}} </span> </div>
    <div style="padding:10px;"> Time: <span> {{dialigData.value.timeslot}} </span> </div>
    <div style="padding:10px;"> Date: <span> {{dialigData.date}} </span> </div>
    <div style="padding:10px;"> Isuue: <span> {{dialigData.issue}} </span> </div>
  </div>
  <div class="col-lg-6 col-md-6 card-padding">
    <div style="padding:10px;"> Fee: <span>{{dialigData.docData.fee}}</span></div>
    <div style="padding:10px;">
      <p>Apply Coupon Here: </p>
      
        <input [(ngModel)]="coupon.code" [disabled] = "disabledip">
        <p *ngIf="dialigData.couponData && dialigData.couponData.message" style = "font-size:11px;" [ngClass] = "{'activeText':dialigData.couponData.status === true, 'inactiveText':dialigData.couponData.status === false}"> {{dialigData.couponData.message}} </p>
      <button mat-raised-button (click)="getCode()"> Apply </button>
      
    </div>
    <div style="padding:10px;"> Total: <span>{{dialigData.docFinalFee}}</span></div>
  </div>

  <div class="col-lg-12 card-div-bottom">
    <div style="display:flex;justify-content: space-between;padding: 10px;">
      <p class="card-footer"> {{dialigData.docData.workat.name}}</p>
      <button mat-raised-button style="background-color:#607D8B;color:white" (click) = "bookAppointmentToDoctor()"> Book </button>
    </div>
  </div>
</div>

<!-- </div> -->