.card-padding{
    border-left: 1px solid lightgrey;
    /* padding: 25px; */
}
/deep/.mat-dialog-container{
    padding: 0px !important;
}
.activeText{
    color: green;
}
.inactiveText{
    color: red;
}
/* .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  } */