/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Header Styles */

.header {
  background-color: #607D8B;
  color: white;
  height: 50px !important;
  font-weight: bold;
}

.spacer {
  flex: 1 1 auto;
}

.links {
  font-size: 13px;
  word-spacing: 12px;
  cursor: pointer;
}

.log {
  color: white;
  text-decoration: none;
}
.log:hover{
  color: white;
  text-decoration: none;
}

/* Register components Styles */
.register_div {
  display: block;
  background-color: #E8EAF6;
  height: 500px;
  width: 1000px;
  margin: auto;
}

.doc_reg {
  font-size: 13px;
  /* color: #607D8B !important; */
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  color: #DE243A !important;
}

@media only screen and (max-width: 768px) {
  .register_div {
    width: 100%;
  }

  .caption {
    font-size: 10px !important;
  }

  .mat-form-field-hide-placeholder {
    font-size: 10px !important;
  }
}

.border {
  border-bottom: 1px solid black !important;
}

.caption {
  font-size: 13px;
  line-height: 4;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.mat-form-field-hide-placeholder {
  font-size: 13px;
}

.input_field {
  width: 100%;
}
.log_outer_card{
  display: block;
    margin: auto;
    /* width: 60%; */
    position: relative !important;
    background-color: #DE243A;
    height: 300px;
    padding: 80px !important;
}
.log_inner_card{
  position: absolute !important;
    right: 10%;
    width: 250px;
    top: -42px;
    height: 396px;
    box-shadow: 1px 1px 21px grey !important
}
.log_head{
  text-align: center;
  color: #DE243A;
  font-size: 18px;
}
.ring{
  height: 50px;
    width: 50px;
    /* background-color: #DE243A; */
    display: block;
    margin: auto;
    border-radius: 50px;
    box-shadow: -1px 0px 31px 9px lightgrey;
}
.log_btn{
  width: 100%;
  background-color: #DE243A;
  color: white;
}
.sign_up{
  width:100%;
  padding: 0px !important;
  margin-top: 12px !important;
  color: #DE243A;
}
.forgot{
  font-size: 13px;
  color: #DE243A;
  cursor: pointer;
}
.img_div{
  width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: white;
}
.log_img{
  width: 127px;
    display: block;
    margin: auto;
    padding-top: 37px;
}
.main_div{
  padding: 7% 14%;
}
.user_search_hospitals .ip-fields{
  margin: 5px 0px;
  padding: 0px 5px;
}
@media only screen and (max-width: 425px) {
  .main_div {
    padding: 20% 10%;
  }
}
@media only screen and (max-width: 320px) {
  .main_div {
    padding: 20% 10%;
  }
  .log_inner_card{
    right:1%;
  }
}
@media only screen and (max-width: 425px) and (min-width: 375px) {
  .head-div{
    width: 30% !important;
  }
  .left-text{
    font-size: 12px;
  }
  .right-text{
    font-size: 12px;
  }
  .margin-div{
    margin-left: -40px;
  }
}
.card-main{
  border-radius: 15px !important;
}
@media only screen and (min-width:320px) {
  .head-div{
    width: 20%;
  }
  .left-text{
    font-size: 12px;
  }
  .right-text{
    font-size: 12px;
  }
  /* .card-main{
    width: 100% !important;
  } */
}
.nopadding{
  padding: 0px !important;
}
.card-div-padding{
  padding: 25px;
  border-left: 1px solid lightgrey;
}
.card-div-bottom{
  /* padding: 10px; */
  border-top: 1px solid lightgrey;
}
.card-footer{
  padding: 10px;
  margin: 0px;
  border-top:0px !important;
}
.card-main{
  padding: 0px !important;
  /* width: 87%; */
}
.loc-icon{
  border-left: 1px solid lightgray;
  /* margin-top: 5px; */
}
.avail_btn{
  position: absolute;
    bottom: 20px;
    right:40px;
}
.btn{
  background-color: #607D8B;
  color: white;
}
.log_img2{
    width: 100px;
    display: block;
    margin: auto;
    padding-top: 23px;
}
.confirm_btn{
  float: right;
    margin-right: 100px;
    margin-top: 14px;
}
.slot_btn{
  border: none;
  background-color: #43A047 !important;
  cursor: pointer;
}
.doc_page_btn{
  background-color: #607D8B;
    color: white;
}
.profile_inp{
  width: 100%;
}
.caption{
  line-height: 3;
}
.close{
  border: 1px solid black;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 1px 6px;
    font-weight: 400;
}
.doc_info{
  width: 50%;
  padding: 10px;
}
@media only screen and (max-width: 768px) {
  .doc_info {
    width: 100% !important;
  }
}

.slot-div{
  background-color: #43A047 !important;
  padding: 12px;
  border: 1px solid lightgrey;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 10px;
}
.slot-maindiv{
  display: flex;
  flex-wrap: wrap;
  border: 1px solid lightgray;
  margin-top: 9px;
}
.activediv{
  background-color: lightgrey !important;
}
.inactivediv{
  background-color: #43A047 !important;
}