.btn {
  display: block;
  /*margin: auto;*/
  background-color: #607D8B;
  color: white;
}

.userreg {
  text-align: left;
}

.info-text {
  font-size: xx-small !important;
}

/*  small screen mobiles */
@media only screen and (min-width: 320px)and (max-width: 370px) {
  .userreg {
    margin-left: 40px;
  }

  .userregimg {
    margin-left: 50px;
  }

  .btn {
    display: block;
    margin-left: 40px;
  }
}

/* medium screen mobiles */
@media only screen and (min-width: 375px) and (max-width: 555px) {
  .userreg {
    margin-left: 20%;
  }

  .userregimg {
    margin-left: 50px;
  }

  .btn {
    display: block;
    margin-left: 40px;
  }
}

/* medium screen mobiles */
@media only screen and (min-width: 425px) and (max-width: 555px) {
  .userreg {
    margin-left: 25%;
  }

  .userregimg {
    margin-left: 50px;
  }

  .btn {
    display: block;
    margin-left: 40px;
  }
}

.user, .doctor {
  margin-top: 5%;
}

#doc-reg-img {

  margin-left: 20%;
}
