<div style="float:right">
  <p style="font-size:12px;margin-right: 22px;">
    <ng-container *ngIf="isDoctor; then user;else doctor"></ng-container>
    <ng-template #user>Are you a Doctor ?</ng-template>
    <ng-template #doctor>Are you not a Doctor ?</ng-template>
    <a class="doc_reg" (click)="checkDoctorOrNot()">
      Register Here </a></p>
</div>
<!-- -->
<div style="clear:both;"></div>
<!--
User Register Form
-->
<div class="container" *ngIf="!isDoctor">

  <div class="border"></div>

  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 caption">
          Name:
        </div>
        <div class="col-lg-8 col-md-6 col-sm-6 col-xs-6">
          <mat-form-field class="input_field">
            <input matInput placeholder="Enter full name">
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 caption">
          Email:
        </div>
        <div class="col-lg-8 col-md-6 col-sm-6 col-xs-6">
          <mat-form-field class="input_field">
            <input matInput placeholder="Enter Email">
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>

  <div class="border"></div>

  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 caption">
          Password:
        </div>
        <div class="col-lg-8 col-md-6 col-sm-6 col-xs-6">
          <mat-form-field class="input_field">
            <input matInput placeholder="Enter Password">
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 caption">
          Confirm Password:
        </div>
        <div class="col-lg-8 col-md-6 col-sm-6 col-xs-6">
          <mat-form-field class="input_field">
            <input matInput placeholder="Enter Confirm Password">
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>

  <div class="border"></div>

  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 caption">
          City:
        </div>
        <div class="col-lg-8 col-md-6 col-sm-6 col-xs-6">
          <mat-form-field class="input_field">
            <input matInput placeholder="Enter City">
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 caption">
          Pincode:
        </div>
        <div class="col-lg-8 col-md-6 col-sm-6 col-xs-6">
          <mat-form-field class="input_field">
            <input matInput placeholder="Enter Pincode">
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>

  <div class="border"></div>

  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 caption">
          Mobile:
        </div>
        <div class="col-lg-8 col-md-6 col-sm-6 col-xs-6">
          <mat-form-field class="input_field">
            <input matInput placeholder="Enter mobile number">
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 caption">
          DOB:
        </div>
        <div class="col-lg-8 col-md-6 col-sm-6 col-xs-6">
          <mat-form-field class="input_field">
            <input matInput [matDatepicker]="picker" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>

  <div class="border"></div>

  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 caption">
          Mobile:
        </div>
        <div class="col-lg-8 col-md-6 col-sm-6 col-xs-6">
          <mat-form-field class="input_field">
            <input matInput placeholder="Enter mobile number">
          </mat-form-field>
        </div>
      </div>
    </div>
    <!-- <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 caption">
          DOB:
        </div>
        <div class="col-lg-8 col-md-4 col-sm-6 col-xs-6">
          <mat-form-field class="input_field">
            <input matInput [matDatepicker]="picker" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </div> -->
  </div>

</div>

<!--
Doctor Register Form
-->
<div class="row">
  <div class="col-lg-8 col-md-6"></div>
  <div class="col-lg-4 col-md-6">
    <div *ngIf="isDoctor">
      <mat-vertical-stepper [linear]="isLinear" #stepper>
        <!-- Stepper 1-->
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Fill out your Personal Details</ng-template>
            <!-- Name -->
            <mat-form-field>
              <input matInput placeholder="Full Name" formControlName="firstCtrl" required>
            </mat-form-field>
            <br>
            <!-- Email -->
            <mat-form-field>
              <input matInput placeholder="Email Id" formControlName="firstCtrl" required>
            </mat-form-field>

            <br>
            <!-- Password -->
            <mat-form-field>
              <input matInput placeholder="Password" formControlName="firstCtrl" required>
            </mat-form-field>
            <br>
            <!-- Gender -->
            <mat-form-field>
              <mat-select placeholder="Gender">
                <mat-option *ngFor="let data of gender" [value]="data">
                  {{data}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>

        </mat-step>
        <!-- Stepper 2-->
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Fill out your Contact Details</ng-template>
            <!-- Mobile -->
            <mat-form-field>
              <input matInput placeholder="Mobile Number" formControlName="firstCtrl" required>
            </mat-form-field>
            <br>
            <!-- State -->
            <mat-form-field>
              <mat-select placeholder="State">
                <mat-option *ngFor="let data of gender" [value]="data">
                  {{data}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <br>
            <!-- City -->
            <mat-form-field>
              <mat-select placeholder="City">
                <mat-option *ngFor="let data of gender" [value]="data">
                  {{data}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <br>
            <!-- Mobile -->
            <mat-form-field>
              <input matInput placeholder="Mobile Number" formControlName="firstCtrl" required>
            </mat-form-field>
            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <!-- Stepper 3-->
        <mat-step>
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Fill out your Work Details</ng-template>
            <!-- Works at-->
            <mat-form-field>
              <input matInput placeholder="Current working at" formControlName="firstCtrl" required>
            </mat-form-field>
            <br>
            <!-- License number -->
            <mat-form-field>
              <input matInput placeholder="License number" formControlName="firstCtrl" required>
            </mat-form-field>

            <br>
            <!-- Qualification -->
            <mat-form-field>
              <input matInput placeholder="Qualification" formControlName="firstCtrl" required>
            </mat-form-field>
            <br>
            <!-- Specialization -->
            <mat-form-field>
              <input matInput placeholder="Specialization" formControlName="firstCtrl" required>
            </mat-form-field>
            <br>
            <!-- Fee -->
            <mat-form-field>
              <input matInput placeholder="Fee Charged" formControlName="firstCtrl" required>
            </mat-form-field>
            <br>
            <div>
              <button mat-button matStepperNext>Submit</button>
            </div>
          </form>
        </mat-step>
      </mat-vertical-stepper>
    </div>

  </div>
</div>
